/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #000;
  }

:root {
  --primary: #256eff;
  --secondary: #01d079;
  --neutral: #1f2231;
}

.My-container{
  @apply container w-full mx-auto lg:px-8 md:px-6 px-5;
}